body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:340px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u98 {
  position:absolute;
  left:20px;
  top:0px;
  width:320px;
  height:568px;
  overflow:hidden;
}
#u98_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(22, 155, 213, 0.0980392156862745);
  background-image:none;
}
#u98_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u99 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:568px;
  overflow:hidden;
}
#u99_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:568px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-color:rgba(22, 155, 213, 0.0980392156862745);
  background-image:none;
}
#u99_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:124px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:124px;
}
.u102 {
  position:absolute;
  left:2px;
  top:54px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
.u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:98px;
}
.u103 {
  position:absolute;
  left:11px;
  top:10px;
  width:103px;
  height:98px;
}
.u104 {
  position:absolute;
  left:2px;
  top:41px;
  width:99px;
  visibility:hidden;
  word-wrap:break-word;
}
.u105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u105 {
  position:absolute;
  left:124px;
  top:10px;
  width:162px;
  height:40px;
}
.u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  word-wrap:break-word;
}
.u107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u107 {
  position:absolute;
  left:124px;
  top:88px;
  width:53px;
  height:17px;
}
.u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
.u109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u109 {
  position:absolute;
  left:187px;
  top:91px;
  width:112px;
  height:17px;
}
.u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u100-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:124px;
}
#u100-2 {
  position:absolute;
  left:0px;
  top:124px;
  width:320px;
  height:124px;
}
#u100-3 {
  position:absolute;
  left:0px;
  top:248px;
  width:320px;
  height:124px;
}
#u100-4 {
  position:absolute;
  left:0px;
  top:372px;
  width:320px;
  height:124px;
}
#u100-5 {
  position:absolute;
  left:0px;
  top:496px;
  width:320px;
  height:124px;
}
#u100-6 {
  position:absolute;
  left:0px;
  top:620px;
  width:320px;
  height:124px;
}
#u100-7 {
  position:absolute;
  left:0px;
  top:744px;
  width:320px;
  height:124px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:868px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
